/* @import "base.css"; */

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

div#title {
    background: #87ceff;
    padding: 12px 0;
    width: 100%;
    height: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#title a {
    text-decoration: none;
    margin: 15px;
}

div#container {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
}

.cat-container td {
    padding: 0 30px;
}

.gallery {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-content: flex-start; */
}

.gallery p {
    display: inline;
}

.gallery img {
    padding-top: 10px;
    /* padding: 0 10px; */
    width: auto;
    height: auto;
    /* max-width: 200px; */
    max-height: 200px;
}

.gallery .item {
    margin: 0 5px;
}

.subgallery {
    text-align: center;
    /* padding-bottom: 10px; */
}

div#header {
    /* padding: 12px 20px 12px 0px; */
    /* width:130px; */
    background:#C0DFDF;
}

#header .menuitem.me {
    /* list-style: none; */
    background: #87ceff;
}

#header .menuitem {
    line-height: 23px;
    font-size: 16px;
    padding: 3px 10px;
    text-overflow: nowrap;
}


div#logo {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

div#logo a {
    color: #fff;
    font-family: times, serif;
    /* font-size: 38px; */
    font-weight: light;
    text-decoration: none;
    width: 270px;
}

div#header #navigation {
    display:table;
    /* padding-left: 20px; */
    white-space: nowrap;
}

div#header #navigation a {
    /* display:table-row; */
    /* font-size: 18px; */
    font-weight: bold;
    text-decoration: none;
    /* width:100%; */
}

div#header #navigation a:hover {
    text-decoration: underline;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 30px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    color: #753170;
}

h2 {
    font-size: 20px;
    color: #753170;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

div#content {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 30px 80px 30px;
    width: 100%;
    background: #f8f8f8;
}

div#content h1 {
    color: #bbb;
    font-family: times, serif;
    font-style: italic;
    font-size: 46px;
    text-align: center;
}

.cap {
    text-transform: capitalize;
}

.kittens td {
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.kittens {
    margin: 0 auto;
    font-size: 16px;
}

.kittens img {
    width: auto;
    height: auto;
    /* max-width: 200px; */
    max-height: 150px;
}

.kittens .available {
    color: #C9301C;
    text-transform: uppercase;
}