@import "base.css";

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

div#title {
    background: #87ceff;
    padding: 12px 20px;
    width: 100%;
    height: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#title a {
    text-decoration: none;
}

div#container {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
}


#container > div {
    height: 100%;
}

.cat-container {
    /* width: 80%; */
}

.cat-container td {
    /* height: 100%; */
    /* display: table-column; */
    /* -webkit-flex: none; */
    /* flex: none; */
    padding: 30px;
}

.gallery {
    text-align: left;
}

.gallery img {
    padding: 10px;
    width: 200px;
}

.subgallery {
    text-align: center;
}

.subgallery img {
    padding: 0 10px;
    width: 200px;
}

div#header {
    /* padding: 12px 20px 12px 0px; */
    /* width:130px; */
    background:#C0DFDF;
}

#header .menuitem.me {
    /* list-style: none; */
    background: #87ceff;
}

#header .menuitem {
    line-height: 23px;
    font-size: 14px;
    padding: 3px 10px;
    text-overflow: nowrap;
}


div#logo {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

div#logo a {
    color: #fff;
    font-family: times, serif;
    /* font-size: 38px; */
    font-weight: light;
    text-decoration: none;
    width: 270px;
}

div#header #navigation {
    display:table;
    /* padding-left: 20px; */
    white-space: nowrap;
}

div#header #navigation a {
    /* display:table-row; */
    /* font-size: 18px; */
    font-weight: bold;
    text-decoration: none;
    /* width:100%; */
}

div#header #navigation a:hover {
    text-decoration: underline;
}

div#footer {
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 30px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

div#content{
    font-size: 14px;
    line-height: 18px;
    padding: 0 30px 20px 30px;
}

div#content h1{
    color: #bbb;
    font-family: times, serif;
    font-style: italic;
    font-size: 46px;
    text-align: center;
}
