  $if(menuItems)$
  $for(menuItems)$
  <div class="menuitem $me$">
    <a href="$url$">$title$</a>
  </div>
  $endfor$
  $endif$

  <div class="media">
    <script type="text/javascript">
<!--
h='&#x73;&#x6d;&#x69;&#108;&#x79;&#x63;&#x61;&#116;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#x73;&#x6d;&#x69;&#108;&#x79;&#x63;&#x61;&#116;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail"><i class="fa fa-envelope" aria-hidden="true"><\/i><\/'+'a'+'>');
// -->
    </script>
    <a href="https://www.facebook.com/artsycats/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/smilycats/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

</div>
